/*
VARIABLES DECLARATION
*/

$red: #ec0000;
$lightred: #dc3545;
$background: rgba(255, 2555, 255, 0.7);
$background-color:#deedf2;
$white: #ffffff;
$palegrey:rgb(240, 240, 240);
$darkgrey: rgb(91, 90, 91);
$paleborder: #eee7dd;
$palefootertext: #d2d0c2;
$modulebackground: #d0cdc4;
$dark: #333;
$color-primary-200: #c2c2c2; 
$open-sans: 'Open-Sans',
sans-serif;
$ariel: Ariel,
Helvetica,
sans-serif;
$jaldi: 'Jaldi', sans-serif;
$marckScript: 'Marck Script', cursive;
$phone: 'phone';