<div class="container">
  <div id="card-container">
    <div *ngIf="loading" class="card">
      <h3>Lets create a room</h3>
      <p>
        Ok lets create a room now.
      </p>
      <div class="room">
        <app-input [label]="'Enter your name'" [typeOfInput]="'input'" [control]="roomInfo.get('personName')">
        </app-input>
        <app-input [label]="'Enter room number'" [typeOfInput]="'input'" [control]="roomInfo.get('roomName')">
        </app-input>
      </div>
      <button mat-raised-button color="accent" (click)="connectToRoom()">Connect to room!</button>
    </div>

    <div *ngIf="!loading" class="card">
      <h3>
        Connected to room: {{roomName}}
      </h3>
      <div #localParticipants id="local-media-container"></div>
      <div #remoteParticipants id="remote-media-container"></div>

      <button mat-raised-button color="warn" (click)="leaveRoom()">Leave room</button>
    </div>

  </div>
</div>